@import "compass/reset";
@import "blueprint/grid";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/layout/stretching";

$hdr-height: 100px;
$hdr-bg-color: #3e3232;

body {
  background-color: $hdr-bg-color;
  font-family: 'Lucida Sans Unicode', 'Myriad Pro', 'Hiragino Sans GB', 'Heiti SC', 微软雅黑, Verdana, Helvetica, sans-serif, SimHei, 黑体;
}

header.main {
  height: $hdr-height;
  background-color: $hdr-bg-color;
  z-index: 1000;
  width: 100%;
  position: fixed;
  #head_logo{
    background: url(../images/head_logo.png) no-repeat;
    width: 78px;
    height: 78px;
    float: left;
    margin-top: 10px;
  }
  nav {
    @include container;
    width: 600px;
    ul {
      @include clearfix;
      li {
        line-height: $hdr-height;
        float: left;
        margin: 0 20px;
        a {
          color: #cbedf6;
          text-decoration: none;
          &:hover { text-decoration: underline; }
          &.current { color: #f2f2f2; }
        }
      }
    }
  }
}

$container-height: 3000px;
$section-height: 650px;
#container {
  height: $container-height;
  overflow: hidden;
}

section.wrapper {
  padding-top: 100px;
}

section.wrapper .body {
  @include container;
  position: relative;
  height: $section-height;
  color: #666;
}

section#app-demo {
  background-color: #cbedf6;
}

section#about-us {
  padding: 120px 0 0 0;
  background-color: #fff;
  .body {
    width: 720px;
    header {
      h2 {
        text-align: center;
        font-size: 1.4em;
        margin: 1em;
        color: #2d9ed8;
      }
      p {
        line-height: 30px;
      }
      border-bottom: 1px solid #cbedf6;
    }
    .content {
      .person {
        padding: 10px 0;
        @include clearfix;
        border-bottom: 1px solid #cbedf6;
        .left {
          float: left;
          margin-right: 20px;
          width: 50px;
          img { width: 49px; height: 49px; }
        }
        .right {
          float: left;
          width: 620px;
          h3 { 
            color: #2d9ed8; 
            font-size: 1.2em; 
            margin-bottom: 0.3em; 
          }
          p { 
            line-height: 24px;
            font-size: 0.9em; 
          }
        }
      }
    }
  }
}

section#app-more {
  background-color: #eafafe;
  padding: 120px 0 0 0;
  .body {
    width: 1024px;
    background: url(../images/app_more_bg.png) bottom left repeat-x;
    h2.title {
      color: #068bb7;
      font-size: 1.4em;
      margin: 0.6em 0;
      text-align: center;
    }
    p {
      line-height: 30px;
    }
  }
}

section#footer{
  background: url(../images/app_intro_bg.png) 0 100px repeat-x;
}

section#app-intro {
  background: url(../images/app_intro_bg.png) 0 100px repeat-x;
  .content {
    position: absolute;
    top: 150px;
    left: 420px;
    ul.icons {
      @include clearfix;
      li {
        float: left;
        height: 60px;
        width: 152px;
        margin-right: 20px;
        background: url(../images/icons.png) 0 0 no-repeat;
        &.android { background-position: 0 -60px; width: 160px; }
        &.browser { background-position: 0 -120px; }
      }
    }
    h2.title {
      color: #068bb7;
      font-size: 2em;
      margin: 0.6em 0;
    }
    p {
      color: white;
      margin-bottom: 0.6em;
      line-height: 30px;
    }
  }
}

#slides { text-align: center; }
.slidesContainer { margin: 0 110px 40px 110px; }

a.slidesPrevious, a.slidesNext {
  width: 38px; height: 38px;
  position: absolute;
  top: 200px;
  background: url(../images/arrows.png) 0 0 no-repeat;
  text-indent: -5000px;
  &.slidesPrevious {
    left: 0;
  }
  &.slidesNext {
    right: 0;
    background-position: 0 -38px;
  }
}

ul.slidesPagination {
  text-align: center;
  @include clearfix;
  @include inline-block;
  li {
    float: left;
    margin: 0 5px;
    &.slidesCurrent a { background-position: 0 0 }
    a {
      @include inline-block;
      width: 10px; height: 10px;
      background: url(../images/switcher.png) 0 -10px no-repeat;
      text-indent: -5000px;
    }
  }
}