@charset "UTF-8";
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../scss/screen.scss */
body {
  background-color: #3e3232;
  font-family: "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC", 微软雅黑, Verdana, Helvetica, sans-serif, SimHei, 黑体;
}

/* line 15, ../../scss/screen.scss */
header.main {
  height: 100px;
  background-color: #3e3232;
  z-index: 1000;
  width: 100%;
  position: fixed;
}
/* line 21, ../../scss/screen.scss */
header.main #head_logo {
  background: url(../images/head_logo.png) no-repeat;
  width: 98px;
  height: 98px;
  float: left;
}
/* line 27, ../../scss/screen.scss */
header.main nav {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 600px;
}
/* line 30, ../../scss/screen.scss */
header.main nav ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 32, ../../scss/screen.scss */
header.main nav ul li {
  line-height: 100px;
  float: left;
  margin: 0 20px;
}
/* line 36, ../../scss/screen.scss */
header.main nav ul li a {
  color: #cbedf6;
  text-decoration: none;
}
/* line 39, ../../scss/screen.scss */
header.main nav ul li a:hover {
  text-decoration: underline;
}
/* line 40, ../../scss/screen.scss */
header.main nav ul li a.current {
  color: #f2f2f2;
}

/* line 49, ../../scss/screen.scss */
#container {
  height: 2800px;
  overflow: hidden;
}

/* line 54, ../../scss/screen.scss */
section.wrapper {
  padding-top: 100px;
}

/* line 58, ../../scss/screen.scss */
section.wrapper .body {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  height: 600px;
  color: #666;
}

/* line 65, ../../scss/screen.scss */
section#app-demo {
  background-color: #cbedf6;
}

/* line 69, ../../scss/screen.scss */
section#about-us {
  padding: 120px 0 0 0;
  background-color: #fff;
}
/* line 72, ../../scss/screen.scss */
section#about-us .body {
  width: 720px;
}
/* line 74, ../../scss/screen.scss */
section#about-us .body header {
  border-bottom: 1px solid #cbedf6;
}
/* line 75, ../../scss/screen.scss */
section#about-us .body header h2 {
  text-align: center;
  font-size: 1.4em;
  margin: 1em;
  color: #2d9ed8;
}
/* line 81, ../../scss/screen.scss */
section#about-us .body header p {
  line-height: 30px;
}
/* line 87, ../../scss/screen.scss */
section#about-us .body .content .person {
  padding: 10px 0;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #cbedf6;
}
/* line 91, ../../scss/screen.scss */
section#about-us .body .content .person .left {
  float: left;
  margin-right: 20px;
  width: 50px;
}
/* line 95, ../../scss/screen.scss */
section#about-us .body .content .person .left img {
  width: 49px;
  height: 49px;
}
/* line 97, ../../scss/screen.scss */
section#about-us .body .content .person .right {
  float: left;
  width: 620px;
}
/* line 100, ../../scss/screen.scss */
section#about-us .body .content .person .right h3 {
  color: #2d9ed8;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
/* line 105, ../../scss/screen.scss */
section#about-us .body .content .person .right p {
  line-height: 24px;
  font-size: 0.9em;
}

/* line 115, ../../scss/screen.scss */
section#app-more {
  background-color: #eafafe;
  padding: 120px 0 0 0;
}
/* line 118, ../../scss/screen.scss */
section#app-more .body {
  width: 1024px;
  background: url(../images/app_more_bg.png) bottom left repeat-x;
}
/* line 121, ../../scss/screen.scss */
section#app-more .body h2.title {
  color: #068bb7;
  font-size: 1.4em;
  margin: 0.6em 0;
  text-align: center;
}
/* line 127, ../../scss/screen.scss */
section#app-more .body p {
  line-height: 30px;
}

/* line 133, ../../scss/screen.scss */
section#footer {
  background: url(../images/app_intro_bg.png) 0 100px repeat-x;
}

/* line 137, ../../scss/screen.scss */
section#app-intro {
  background: url(../images/app_intro_bg.png) 0 100px repeat-x;
}
/* line 139, ../../scss/screen.scss */
section#app-intro .content {
  position: absolute;
  top: 150px;
  left: 420px;
}
/* line 143, ../../scss/screen.scss */
section#app-intro .content h2.title {
  color: #068bb7;
  font-size: 2em;
  margin: 0.6em 0;
}
/* line 148, ../../scss/screen.scss */
section#app-intro .content p {
  color: white;
  line-height: 30px;
}

/* line 155, ../../scss/screen.scss */
#slides {
  text-align: center;
}

/* line 156, ../../scss/screen.scss */
.slidesContainer {
  margin: 0 110px 40px 110px;
}

/* line 158, ../../scss/screen.scss */
a.slidesPrevious, a.slidesNext {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 200px;
  background: url(../images/arrows.png) 0 0 no-repeat;
  text-indent: -5000px;
}
/* line 164, ../../scss/screen.scss */
a.slidesPrevious.slidesPrevious, a.slidesNext.slidesPrevious {
  left: 0;
}
/* line 167, ../../scss/screen.scss */
a.slidesPrevious.slidesNext, a.slidesNext.slidesNext {
  right: 0;
  background-position: 0 -38px;
}

/* line 173, ../../scss/screen.scss */
ul.slidesPagination {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.slidesPagination {
  *display: inline;
}
/* line 177, ../../scss/screen.scss */
ul.slidesPagination li {
  float: left;
  margin: 0 5px;
}
/* line 180, ../../scss/screen.scss */
ul.slidesPagination li.slidesCurrent a {
  background-position: 0 0;
}
/* line 181, ../../scss/screen.scss */
ul.slidesPagination li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 10px;
  height: 10px;
  background: url(../images/switcher.png) 0 -10px no-repeat;
  text-indent: -5000px;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.slidesPagination li a {
  *display: inline;
}
