@charset "UTF-8";
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../scss/screen.scss */
body {
  background-color: #3e3232;
  font-family: "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC", 微软雅黑, Verdana, Helvetica, sans-serif, SimHei, 黑体;
}

/* line 15, ../../scss/screen.scss */
header.main {
  height: 100px;
  background-color: #3e3232;
  z-index: 1000;
  width: 100%;
  position: fixed;
}
/* line 21, ../../scss/screen.scss */
header.main #head_logo {
  background: url(../images/head_logo.png) no-repeat;
  width: 78px;
  height: 78px;
  float: left;
  margin-top: 10px;
}
/* line 28, ../../scss/screen.scss */
header.main nav {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 600px;
}
/* line 31, ../../scss/screen.scss */
header.main nav ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 33, ../../scss/screen.scss */
header.main nav ul li {
  line-height: 100px;
  float: left;
  margin: 0 20px;
}
/* line 37, ../../scss/screen.scss */
header.main nav ul li a {
  color: #cbedf6;
  text-decoration: none;
}
/* line 40, ../../scss/screen.scss */
header.main nav ul li a:hover {
  text-decoration: underline;
}
/* line 41, ../../scss/screen.scss */
header.main nav ul li a.current {
  color: #f2f2f2;
}

/* line 50, ../../scss/screen.scss */
#container {
  height: 3000px;
  overflow: hidden;
}

/* line 55, ../../scss/screen.scss */
section.wrapper {
  padding-top: 100px;
}

/* line 59, ../../scss/screen.scss */
section.wrapper .body {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  height: 650px;
  color: #666;
}

/* line 66, ../../scss/screen.scss */
section#app-demo {
  background-color: #cbedf6;
}

/* line 70, ../../scss/screen.scss */
section#about-us {
  padding: 120px 0 0 0;
  background-color: #fff;
}
/* line 73, ../../scss/screen.scss */
section#about-us .body {
  width: 720px;
}
/* line 75, ../../scss/screen.scss */
section#about-us .body header {
  border-bottom: 1px solid #cbedf6;
}
/* line 76, ../../scss/screen.scss */
section#about-us .body header h2 {
  text-align: center;
  font-size: 1.4em;
  margin: 1em;
  color: #2d9ed8;
}
/* line 82, ../../scss/screen.scss */
section#about-us .body header p {
  line-height: 30px;
}
/* line 88, ../../scss/screen.scss */
section#about-us .body .content .person {
  padding: 10px 0;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #cbedf6;
}
/* line 92, ../../scss/screen.scss */
section#about-us .body .content .person .left {
  float: left;
  margin-right: 20px;
  width: 50px;
}
/* line 96, ../../scss/screen.scss */
section#about-us .body .content .person .left img {
  width: 49px;
  height: 49px;
}
/* line 98, ../../scss/screen.scss */
section#about-us .body .content .person .right {
  float: left;
  width: 620px;
}
/* line 101, ../../scss/screen.scss */
section#about-us .body .content .person .right h3 {
  color: #2d9ed8;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
/* line 106, ../../scss/screen.scss */
section#about-us .body .content .person .right p {
  line-height: 24px;
  font-size: 0.9em;
}

/* line 116, ../../scss/screen.scss */
section#app-more {
  background-color: #eafafe;
  padding: 120px 0 0 0;
}
/* line 119, ../../scss/screen.scss */
section#app-more .body {
  width: 1024px;
  background: url(../images/app_more_bg.png) bottom left repeat-x;
}
/* line 122, ../../scss/screen.scss */
section#app-more .body h2.title {
  color: #068bb7;
  font-size: 1.4em;
  margin: 0.6em 0;
  text-align: center;
}
/* line 128, ../../scss/screen.scss */
section#app-more .body p {
  line-height: 30px;
}

/* line 134, ../../scss/screen.scss */
section#footer {
  background: url(../images/app_intro_bg.png) 0 100px repeat-x;
}

/* line 138, ../../scss/screen.scss */
#weibo {
  background: url(../images/weibo.png) 0 0 no-repeat;
  padding-left: 22px;
}

/* line 143, ../../scss/screen.scss */
#qq {
  background: url(../images/qq.png) 0 0 no-repeat;
  padding-left: 22px;
}

/* line 148, ../../scss/screen.scss */
section#app-intro {
  background: url(../images/app_intro_bg.png) 0 100px repeat-x;
}
/* line 150, ../../scss/screen.scss */
section#app-intro .content {
  position: absolute;
  top: 50px;
  left: 420px;
}
/* line 154, ../../scss/screen.scss */
section#app-intro .content ul#down_iphone {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 157, ../../scss/screen.scss */
section#app-intro .content ul#down_iphone li {
  background: url(../images/download-icons.png) 0 0 no-repeat;
  height: 55px;
  width: 137px;
}
/* line 161, ../../scss/screen.scss */
section#app-intro .content ul#down_iphone li a {
  display: block;
  height: 46px;
  width: 119px;
}
/* line 166, ../../scss/screen.scss */
section#app-intro .content ul#down_iphone li.down_91 {
  background-position: 0 -55px;
}
/* line 167, ../../scss/screen.scss */
section#app-intro .content ul#down_iphone li.down_loc {
  background-position: 0 -110px;
}
/* line 170, ../../scss/screen.scss */
section#app-intro .content ul.icons {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 173, ../../scss/screen.scss */
section#app-intro .content ul.icons li {
  float: left;
  height: 60px;
  width: 152px;
  margin-right: 20px;
  background: url(../images/icons.png) 0 0 no-repeat;
}
/* line 179, ../../scss/screen.scss */
section#app-intro .content ul.icons li a, section#app-intro .content ul.icons li p {
  display: block;
  width: 152px;
  height: 60px;
  padding: 45px 0 5px 75px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}
/* line 188, ../../scss/screen.scss */
section#app-intro .content ul.icons li.android {
  background-position: 0 -60px;
  width: 160px;
}
/* line 190, ../../scss/screen.scss */
section#app-intro .content ul.icons li.android p {
  padding: 37px 0 5px 75px;
  color: green;
}
/* line 195, ../../scss/screen.scss */
section#app-intro .content ul.icons li.browser {
  background-position: 0 -120px;
}
/* line 197, ../../scss/screen.scss */
section#app-intro .content ul.icons li.browser a {
  padding-left: 64px;
}
/* line 202, ../../scss/screen.scss */
section#app-intro .content h2.title {
  color: #068bb7;
  font-size: 2em;
  margin: 0.6em 0;
}
/* line 207, ../../scss/screen.scss */
section#app-intro .content p {
  color: white;
  margin-bottom: 0.6em;
  line-height: 30px;
}
/* line 211, ../../scss/screen.scss */
section#app-intro .content p.slink {
  line-height: 16px;
  font-size: 12px;
}

/* line 219, ../../scss/screen.scss */
#footer {
  text-align: center;
  color: white;
  font-size: 12px;
  padding-top: 4px;
}

/* line 226, ../../scss/screen.scss */
#slides {
  text-align: center;
}

/* line 227, ../../scss/screen.scss */
.slidesContainer {
  margin: 0 110px 40px 110px;
}

/* line 229, ../../scss/screen.scss */
a.slidesPrevious, a.slidesNext {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 200px;
  background: url(../images/arrows.png) 0 0 no-repeat;
  text-indent: -5000px;
}
/* line 235, ../../scss/screen.scss */
a.slidesPrevious.slidesPrevious, a.slidesNext.slidesPrevious {
  left: 0;
}
/* line 238, ../../scss/screen.scss */
a.slidesPrevious.slidesNext, a.slidesNext.slidesNext {
  right: 0;
  background-position: 0 -38px;
}

/* line 244, ../../scss/screen.scss */
ul.slidesPagination {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.slidesPagination {
  *display: inline;
}
/* line 248, ../../scss/screen.scss */
ul.slidesPagination li {
  float: left;
  margin: 0 5px;
}
/* line 251, ../../scss/screen.scss */
ul.slidesPagination li.slidesCurrent a {
  background-position: 0 0;
}
/* line 252, ../../scss/screen.scss */
ul.slidesPagination li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 10px;
  height: 10px;
  background: url(../images/switcher.png) 0 -10px no-repeat;
  text-indent: -5000px;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.slidesPagination li a {
  *display: inline;
}
